body{
    /* margin-bottom:120px; */
    margin-top: 80px;
    height: 100%;
    background-color: #F5F8F9;
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    background-size: 100%;
}

.konten {
  min-height: 100%;
}
.konten-inside {
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom:50px;
}
.footer {
  height: 30px;
  /* margin-top: -50px; */
}

.bg-blue {
  background-color: #DFEFFF;
}

.card {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.card-main {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom:20px;
  width: 900px;
  min-height: 700px;
}

.card-review {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom:20px;
  width: 300px;
  min-height: 80px;
}

.card-detail-lapjusik {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom:20px;
  width: 700px;
  min-height: 500px;
}

.card-uraian-kerja {
  width:650px;
  min-height:220px;
  margin: 0 auto;
}

.card-detail-proyek {
    margin: 0 auto;
    margin-top: 20px;
    width: 900px;
    min-height: 450px;
    margin-bottom:20px;
}

.card-info {
  width: 550px;
  min-height: 250px;
  display: inline-block;
}

.card-pm {
  width: 200px;
  min-height: 250px;
  display: inline-block;
  margin-left: 25px;
}

.card-tombol {
    width: 380px;
    min-height: 250px;
}

.card-kontrak {
    width:780px;
    min-height:220px;
    margin: 0 auto;
}

.card-button {
  width: 250px;
  height: 50px;
  margin: 12px;
}

.card-button-1{
width:800px;
height: 50px;
margin: 12px;
}

.card-proyek-list {
  margin: 0 auto;
  margin-top: 20px;
  width: 900px;
  height: 300px;
}

.ketengahin {
margin-left: 20px;

}

.breadcrumb {
    background-color: transparent;
    width: 900px;
    margin: 0 auto;
}

.breadcrumb > li + li:before {
  color: #606060;
  content: " > ";
  padding: 0 5px;
}


.landing-image-direksi {
 width: 400px;
 margin: 0 auto;
 vertical-align: center;
}

.error-404-image {
    width:500px;
    margin: 0 auto;
    vertical-align:center;
}

.no-access-image {
    width:400px;
    margin: 0 auto;
    vertical-align:center;
}

ul{
    margin-left: -8px;
    margin-top: 10px;
}

li {
  list-style:none;
  margin-top:-5px;
  margin-bottom:-5px;
}
hr{
    margin:15px;
}


.button-approve{
    background-color:#63A2F6;
    border-radius:10px;
    width:130px;
    height:45px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    border:none;
    color:#ffffff;
}

.button-disapprove{
    background-color:#fff;
    border-radius:10px;
    width:130px;
    height:45px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    border:1.5px solid #63A2F6;
    color:#63A2F6;
}

.button-review{
  background-color:#63A2F6;
  border-radius:5px;
  width:150px;
  height:40px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  border:none;
  color:#ffffff;
}

.modal-button-approve{
  background-color:#63A2F6;
  border-radius:5px;
  width:110px;
  height:40px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  border:none;
  color:#ffffff;
}

.modal-button-disapprove{
  background-color:#fff;
  border-radius:5px;
  width:110px;
  height:40px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  border:1.5px solid #63A2F6;
  color:#63A2F6;
}

hr {
  margin: 10px;
}

.judul {
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 5px;
}


.modal-title{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 17px;
  color: #606060;
}

.modal-body{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: #606060;
}

.modal-footer{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
}

.font-error-modal{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 11px;
  color: #c32222;
}

.font-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  color: #606060;
}

.font-subtitle-1 {
font-family: 'Roboto';
font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #606060;
}

.font-subtitle-2 {
font-family: 'Roboto';
font-weight: 700;
  font-size: 20px;
  color: #606060;
  padding-left: 40px;
}

.font-subtitle-3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #606060;
}

.font-subtitle-4 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: #606060;
}

.font-subtitle-5 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: #606060;
  text-align:center;
}

.font-status-approval {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  color: #606060;
}

.font-desc {
font-family: 'Roboto';
font-weight: 400;
font-size: 13px;
  color: #606060;
  text-justify: inter-word;
}

.font-desc-white{
    font-family: 'Roboto';
    font-weight: 400;
	font-size: 12px;
    color: #fff;
    text-align: justify;
    text-justify: inter-word;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #e4e5e6;
}

/* momo coba  */

* {
margin: 0px; 
padding: 0px; 
box-sizing: border-box;
}

body, html {
height: 100%;
}

/*---------------------------------------------*/
a {
font-size: 14px;
line-height: 1.7;
color: #666666;
margin: 0px;
transition: all 0.4s;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

a:focus {
outline: none !important;
}

a:hover {
text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
margin: 0px;
}

p {
font-size: 14px;
line-height: 1.7;
color: #666666;
margin: 0px;
}

ul, li {
margin: 0px;
list-style-type: none;
}


/*---------------------------------------------*/
input {
outline: none;
border: none;
}

.inputsearch {
    outline: none;
    border: 1px;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
outline: none;
border: none;
}

textarea:focus, input:focus {
border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
outline: none !important;
border: none;
background: transparent;
}

button:hover {
cursor: pointer;
}

iframe {
border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.bg0 {background-color: #fff;}
.bg1 {background-color: #f7f7f7;}


#addForm{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
background-color: rgb(197, 224, 247);
width: 100%;
position: relative;
border: 1px solid #e6e6e6;
border-radius: 12px;
padding: 5%;
}

#addForm:hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#editForm{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
background-color: rgb(197, 224, 247);
width: 100%;
position: relative;
border: 1px solid #e6e6e6;
border-radius: 12px;
padding: 5%;
}

#editForm:hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.errorMessage {
color: #c32222;
font-size: 14px;
font-family:'Roboto';
font-weight:400;
}

.labels{
font-size: 16px;
font-weight: bolder;
line-height: 1.5;
text-transform: uppercase;
}

.content {
width: 100%;
position: relative;
border: 1px solid #e6e6e6;
border-radius: 13px;
padding: 10px 30px 9px 22px;
margin-bottom: 20px;
}

.inputs{
font-family: 'Roboto';
font-weight: 400;
display: block;
width: 100%;
background: transparent;
font-size: 14px;
color: #555555;
line-height: 1.2;
padding-right: 15px;
}

/*button simpan*/
.container-btn {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 45%;
float: right;
}

.container-form-btn {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
width: 100%;
height: 50px;
border:1.5px solid #63A2F6;
border-radius: 10px;

font-size: 16px;
color:black;
line-height: 1.2;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.container-form-btn:hover {
background-color:rgb(106, 179, 243);
}

/*button batal*/
.container1-btn {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 45%;
float: left;
}

.container1-form-btn {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
width: 100%;
height: 50px;
border:1.5px solid #b5b5b5;
color:black;
font-size: 16px;
border-radius: 10px;
line-height: 1.2;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.container1-form-btn:hover {
background-color: #979494;
}

.title {
  background-color: #fff;
}

th.sorting_asc center {
  font-family: 'Roboto';
  font-weight:500;
  font-size: 16px;
  text-align:center;
  color: rgb(40, 119, 198);
}

.panel-body{
width: 100%;
border-radius: 13px;
font-family: 'Roboto';
}

.card-table {
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
background-color: #bad8f7;
position: relative;
border: 1px solid #e6e6e6;
border-radius: 14px;
padding: 5%;
margin-bottom:20px;
}

.card-table:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.add-project {
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
background-color: whitesmoke;

/* width: 10em; */
height: 10em;
margin-right: 15px;
position: relative;
border: 1px solid #c7c6c6;
border-radius: 13px;
padding: 2rem;
margin-bottom:20px;

font-size: 20px;
line-height: 2.5;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.add-project:hover {
background-color: #bad8f7;
}

.project {
transition: 0.3s;

/* width: 10em; */
height: 10em;
max-height: 10em;
margin-left: 15px;
margin-right: 15px;
border: 1px solid #9c9b9b;
border-radius: 13px;
padding: 1rem;
font-size: 20px;
line-height: 2.5;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
margin-bottom:20px;
}

.project:hover {
background-color: #bad8f7;
}

.turncate {
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding: 20px;
font-size: 1.3rem;
margin: 0;
/* resize: horizontal; */
}

.bigCard {
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
background-color:white;
position: relative;
border-radius: 12px;
white-space: 10%;
width: 100%;
padding: 15px;
}

.modal-content{
  position: absolute;
  width: 600px;
  height: auto;
  /*margin: center;*/
  top: 250px; 
}

.deskripsi{
word-break: break-word;
white-space: pre-wrap;
margin-right: 5px;
}

/*Panel tabs*/
.panel-tabs {
  position: relative;
  bottom: 30px;
  clear:both;
  border-bottom: 1px solid transparent;
}

.panel-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.panel-tabs > li > a {
  margin-right: 2px;
  margin-top: 4px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #ffffff;
}

.panel-tabs > li > a:hover {
  border-color: transparent;
  color: #ffffff;
  background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(255,255,255, .23);
  border-bottom-color: transparent;
}
/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
.rs1-wrap-input100 {
  width: 100%;
}

}

@media (max-width: 576px) {
.wrap-contact100 {
  padding: 62px 15px 90px 15px;
}

.wrap-input100 {
  padding: 10px 10px 9px 10px;
}
}

.button-berkas{
  background-color:#fff;
  border-radius:10px;
  width:130px;
  height:45px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  border:none;
  border:1.5px solid #63A2F6;
  color:#63A2F6;
  font-family: 'Roboto';
  font-weight:500;
  font-size: 16px;
}

.button-berkas-inactive{
  background-color:#fff;
  border-radius:10px;
  width:130px;
  height:45px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  border:1.5px solid #b5b5b5;
  color:#b5b5b5;
  font-family: 'Roboto';
  font-weight:500;
  font-size: 16px;
}


.font-breadcrumb-inactive {
  font-family: 'Roboto';
  font-weight:400;
    font-size: 15px;
    color: rgb(40, 119, 198);
    text-justify: inter-word;
}

.font-breadcrumb-active {
  font-family: 'Roboto';
  font-weight:500;
	font-size: 15px;
    color: #606060;
    text-justify: inter-word;
}

.font-desc-bold {
font-family: 'Roboto';
font-weight:500;
font-size: 12px;
  color: #606060;
  text-align: justify;
  text-justify: inter-word;
}

.font-approval {
  font-family: 'Roboto';
  font-weight:500;
  font-size: 14px;

}

.navbar{
  background-color: #ffffff;
}

.navbar-logo-trayek{
  margin-top: 2px;
  margin-bottom:-2px;
  margin-left: 1px;
}

.font-nav {
font-family: 'Roboto';
font-weight:400;
font-size: 14px;
  color: #606060;
  margin-top:5px;
}

.font-nav-logo {
  font-family: 'Roboto';
  font-weight:700;
	font-size: 18px; 
    color: rgb(40, 119, 198);
}

#myProgress {
    width: 100%;
    height:30px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #ddd;
}
.myProgressDetail {
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
}
#myProgressDetail-1 {
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
}#myProgressDetail {
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
}#myProgressDetail {
    width: 100%;
    background-color: rgba(226, 8, 8, 0.651);
    border-radius: 25px;
}
#myBar {
    width: 10%;
    height: 24px;
    margin-top: 2px;
    background-color: rgb(40, 119, 198);
    text-align: center;
    line-height: 18px;
    color: white;
    border-radius: 25px;
    margin-left:2px;
    margin-right: -2px;
    max-width: 99%;
}
.messageType{
    cursor:pointer;
}

.nav-link {
  color: #55a7cf;
}

.nav-link span:before {
  top: auto;
  bottom: 0;
}
.nav-link span:after{
  color: black;
}

.nav-link:hover {
  color: #333536;
  background-color: #f4f4f4;
}
.nav-link:hover:before, .btn-9:hover:after,
.nav-link:hover span:before,
.nav-link:hover span:after {
  height: 80px;
}
.nav-link:active {
  background: #3798c6;
}
.nav-tabs>li.active>a{
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_filter input {
  background: #F0F8FF;
}

.modal-content-a {
  height: auto;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
